---
import { ChatText, Heart, ShoppingCart, User } from "@phosphor-icons/react";
---

<header>
    <div class="container">
        <nav>
            <div>
                <img src="/logo-colored.png" alt="logo" class="logo" />
            </div>
            <div>
                <input type="text" placeholder="Search" />
            </div>
            <div>
                <div>
                    <div><User size={48} color="#073a61" weight="bold" /></div>
                    <div>
                        <ChatText size={48} color="#073a61" weight="bold" />
                    </div>
                    <div><Heart size={48} color="#073a61" weight="bold" /></div>
                    <div>
                        <ShoppingCart size={48} color="#073a61" weight="bold" />
                    </div>
                </div>
            </div>
        </nav>
    </div>
</header>
