---
import Header from "../components/layout/Header.astro";
interface Props {
    title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Astro description" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>{title}</title>
    </head>
    <body>
        <header><Header /></header>

        <slot />
    </body>
</html>
<style is:global>
    :root {
        --primary: #0d6efd;
        --gray-100: #f7fafc;
        --gray-300: #dee2e7;
        --gray-500: #8b96a5;
    }
    @media (max-width: 768px) {
        .container {
            max-width: 100%;
            margin: 0 auto;
            padding: 0 8px;
        }
    }

    @media (min-width: 769px) {
        .container {
            max-width: 100%;
            padding: 0 32px;
        }
    }
    @media (min-width: 1280px) {
        .container {
            max-width: 1024px;
            margin: 0 auto;
        }
    }
</style>
